<div id="sink1">

    <div class="card" id="s1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/s1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sink 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="s2" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/s2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sink 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="s3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/s3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sink 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="s4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/s4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sink 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>      
<div id="sink2">

    <div class="card" id="s5" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/s5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sink 5</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="s6" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/s6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sink 6</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="s7" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/s7.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sink 7</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="s8" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/s8.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sink 8</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>


</div>
<div id="sink3">

    <div class="card" id="s9" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/s9.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sink 9</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="s10" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/s10.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sink 10</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="s11" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/s11.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sink 11</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="s12" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/sk2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sink 12</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>
<div class="card" id="s13" style="width: 25rem;">
    <img class="card-img-top" width="100%" height="80%" src="./assets/sk3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sink 13</h5>
      <p class="card-text">For more details.</p>
      <button routerLink="/pe"
      class="btn btn-primary">Enquire now</button>
    </div>
    </div>
    <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>