#sink1{
    display: flex;
}
#sink2{
    display: flex;
}
#sink3{
    display: flex;
}
#s1{
    margin: 20px;
}
#s2{
    margin: 20px;
}
#s3{
    margin: 20px;
}
#s4{
    margin: 20px;
}
#s5{
    margin: 20px;
}
#s6{
    margin: 20px;
}
#s7{
    margin: 20px;
}
#s8{
    margin: 20px;
}
#s9{
    margin: 20px;
}
#s10{
    margin: 20px;
}
#s11{
    margin: 20px;
}
#s12{
    margin: 20px;
}
#s13{
    margin: 20px;
}
