#bathroom1{
    display: flex;
}
#bathroom2{
    display: flex;
}
#bathroom3{
    display: flex;
}
#b1{
    margin: 20px;
}
#b2{
    margin: 20px;
}
#b3{
    margin: 20px;
}
#b4{
    margin: 20px;
}
#b5{
    margin: 20px;
}
#b6{
    margin: 20px;
}
#b7{
    margin: 20px;
}
#b8{
    margin: 20px;
}
#b9{
    margin: 20px;
}
#b10{
    margin: 20px;
}
#b11{
    margin: 20px;
}