#decor1{
    display:flex;
}
#decor2{
    display:flex;
}
#decor3{
    display:flex;
}
#d1{
    margin: 20px;
}
#d2{
    margin: 20px;
}
#d3{
    margin: 20px;
}
#d4{
    margin: 20px;
}
#d5{
    margin: 20px;
}
#d6{
    margin: 20px;
}
#d7{
    margin: 20px;
}
#d8{
    margin: 20px;
}
#d9{
    margin: 20px;
}
#d10{
    margin: 20px;
}
