<div id="garden1">
    <div class="card" id="gr1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%"  src="./assets/gr1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Garden 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="gr2" style="width: 25rem;">
            <img class="card-img-top"  width="100%" height="80%" src="./assets/gr2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Garden 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="gr3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/gr3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Garden 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="gr4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/gr4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Garden 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
                    </div>
           <div id="garden2">

            <div class="card" id="gr5" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/gr5.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Garden 5</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
        
                <div class="card" id="gr6" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/gr6.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Garden 6</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
        
                    <div class="card" id="gr7" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%"  src="./assets/gr7.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Garden 7</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>
        
                        <div class="card" id="gr8" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%"  src="./assets/gr8.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Garden 8</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>
           </div>    
           <div id="garden3">

            <div class="card" id="gr9" style="width: 25rem;">
                <img class="card-img-top"  width="100%" height="80%" src="./assets/gr9.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Garden 9</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
        
                <div class="card" id="gr10" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/gr10.webp" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Garden 10</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
        
                    <div class="card" id="gr11" style="width: 25rem;">
                        <img class="card-img-top"  width="100%" height="80%" src="./assets/gr11.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Garden 11</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>
        
                        <div class="card" id="gr12" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%"  src="./assets/gr12.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Garden 12</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>
           </div>     
           <div id="garden4">

            <div class="card" id="gr13" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/gr13.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Garden 13</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
        
                <div class="card" id="gr14" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/gr14.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Garden 14</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
        
                    <div class="card" id="gr15" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%"  src="./assets/gr15.webp" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Garden 15</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>
        
                        <div class="card" id="gr16" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%"  src="./assets/gr16.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Garden 16</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>
           </div>
           <div id="garden5">

            <div class="card" id="gr17" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/gr17.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Garden 17</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
        
                <div class="card" id="gr18" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/gr18.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Garden 18</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
        
                    <div class="card" id="gr19" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%"  src="./assets/gr19.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Garden 19</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>
        
                        <div class="card" id="gr20" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%"  src="./assets/gr20.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Garden 20</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>
           </div>
           <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>