#garden1{
    display: flex;
}
#garden2{
    display: flex;
}
#garden3{
    display: flex;
}
#garden4{
    display: flex;
}
#garden5{
    display: flex;
}
#gr1{
    margin: 20px;
}
#gr2{
    margin: 20px;
}
#gr3{
    margin: 20px;
}
#gr4{
    margin: 20px;
}
#gr5{
    margin: 20px;
}
#gr6{
    margin: 20px;
}
#gr7{
    margin: 20px;
}
#gr8{
    margin: 20px;
}
#gr9{
    margin: 20px;
}
#gr10{
    margin: 20px;
}
#gr11{
    margin: 20px;
}
#gr12{
    margin: 20px;
}
#gr13{
    margin: 20px;
}
#gr14{
    margin: 20px;
}
#gr15{
    margin: 20px;
}
#gr16{
    margin: 20px;
}
#gr17{
    margin: 20px;
}
#gr18{
    margin: 20px;
}
#gr19{
    margin: 20px;
}
#gr20{
    margin: 20px;
}
