#plan{
    display: flex;
}
#plan2{
    display: flex;
}
#plan3{
    display:flex;
}
#plan4{
    display:flex;
}
#plan5{
    display:flex;
}
#p1{
    margin: 10px;
}
#p01{
    margin: 10px;
}
#p3{
    margin: 10px;
}

#p4{
    margin: 10px;
}
#p5{
    margin: 10px;
}
#p6{
    margin: 10px;
}
#p7{
    margin: 10px;
}
#p8{
    margin: 10px;
}
#p9{
    margin: 10px;
}
#p10{
    margin: 10px;
}
#p11{
    margin: 10px;
}
#p12{
    margin: 10px;
}
#p13{
    margin: 10px;
}
#p14{
    margin: 10px;
}
#p15{
    margin: 10px;
}
#p16{
    margin: 10px;
}
#p17{
    margin: 10px;
}
#p18{
    margin: 10px;
}

