
   
    <div id="plan">
    <div class="card" id="p1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/plan1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Plan 1</h5>
          
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

     

          <div class="card" id="p01" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/plan01.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">plan 2</h5>
    
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>
    
            <div class="card" id="p4" style="width: 25rem;">
              <img class="card-img-top" width="100%" height="80%" src="./assets/plan4.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Plan 3</h5>
                <p class="card-text">For more details.</p>
                <button routerLink="/pe"
                class="btn btn-primary">Enquire now</button>
              </div>
              </div>

              <div class="card" id="p6" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/plan6.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Plan 4</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
              </div>

              <div id="plan2">
              <div class="card" id="p7" style="width: 25rem;">
                <img class="card-img-top"width="100%" height="80%" src="./assets/plan7.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Plan 5</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

               
                  <div class="card" id="p8" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/plan8.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Plan 6</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>

                    <div class="card" id="p9" style="width: 25rem;">
                      <img class="card-img-top" width="100%" height="80%" src="./assets/plan9.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Plan 7</h5>
                        <p class="card-text">select your own dimension area. For more details.</p>
                        <p class="card-text">For more details.</p>
                        <button routerLink="/pe"
                        class="btn btn-primary">Enquire now</button>
                      </div>
                      </div>

                      <div class="card" id="p10" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/plan10.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Plan 8</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>

              </div>


              <div id="plan3">

                <div class="card" id="p3" style="width: 25rem;">
                  <img class="card-img-top" width="100%" height="80%" src="./assets/plan3.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Plan 9</h5>
                    <p class="card-text">For more details.</p>
                    <button routerLink="/pe"
                    class="btn btn-primary">Enquire now</button>
                  </div>
                  </div>

                <div class="card" id="p11" style="width: 25rem;">
                  <img class="card-img-top" width="100%" height="80%" src="./assets/plan11.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Plan 10</h5>
                    <p class="card-text">For more details.</p>
                    <button routerLink="/pe"
                    class="btn btn-primary">Enquire now</button>
                  </div>
                  </div>

                  <div class="card" id="p12" style="width: 25rem;">
                    <img class="card-img-top"width="100%" height="80%" src="./assets/plan12.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Plan 11</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>

                    <div class="card" id="p14" style="width: 25rem;">
                      <img class="card-img-top"width="100%" height="80%" src="./assets/plan14.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Plan 12</h5>
                        <p class="card-text">For more details.</p>
                        <button routerLink="/pe"
                        class="btn btn-primary">Enquire now</button>
                      </div>
                    </div>
                  </div>



<div id="plan4">
                    <div class="card" id="p13" style="width: 25rem;">
                      <img class="card-img-top" width="100%" height="80%" src="./assets/plan13se.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Plan 13</h5>
                        <p class="card-text">For more details.</p>
                        <button routerLink="/pe"
                        class="btn btn-primary">Enquire now</button>
                      </div>
                      </div>

                      <div class="card" id="p15" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/plan15.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Plan 14</h5>
                            <p class="card-text">For more details.</p>
                            <button routerLink="/pe"
                            class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>
                  

              <div class="card" id="pe1" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/planse.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Plan 15</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="p16" style="width: 25rem;">
                  <img class="card-img-top" width="100%" height="80%" src="./assets/plan16.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Plan 16</h5>
                    <p class="card-text">For more details.</p>
                    <button routerLink="/pe"
                    class="btn btn-primary">Enquire now</button>
                  </div>
                  </div>

         
</div>
<div id="plan5">
<div class="card" id="p17" style="width: 25rem;">
  <img class="card-img-top" width="100%" height="80%" src="./assets/plan17.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Plan 17</h5>
    <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
  </div>
  </div>

  <div class="card" id="p18" style="width: 25rem;">
    <img class="card-img-top" width="100%" height="80%" src="./assets/plan18.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Plan 18</h5>
      <p class="card-text">For more details.</p>
      <button routerLink="/pe"
      class="btn btn-primary">Enquire now</button>
    </div>
    </div>
              <div class="card" id="p5" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/plan5.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Plan 19</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
              </div>
         
              
           

          
              <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>

