#aggregate1{
    display: flex;
}
#aggregate2{
    display: flex;
}
#ag1{
    margin:20px;
}
#ag2{
    margin:20px;
}
#ag3{
    margin:20px;
}
#ag4{
    margin:20px;
}
#ag5{
    margin:20px;
}
#ag6{
    margin:20px;
}
#ag7{
    margin:20px;
}
#ag8{
    margin:20px;
}
