<div class="row">
    <div class="col"></div>
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <!-- <th>Serial No</th> -->
                    <th>Phone_No</th>
                    <th>Plan</th>
                    <th>Address</th>
                    <!-- <th>id_no</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of enquire">
                    <td>{{i.phone}}</td>
                    <td>{{i.plan}}</td>
                    <td>{{i.address}}</td>
                    <!-- let res=this.ds.enquirenow(id_no,phone,plan,address) -->

                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="col">
        <button class="btn btn-success" routerLink="/hom">Home</button>
      <div class="lg">
        <button class="btn btn-primary" routerLink="">LOGIN</button>
        <div class="rg">
        <button class="btn btn-danger" routerLink="reg">REGISTER</button>

    <!-- </div> -->
    </div>
    </div>
    </div>
</div>
