<div id="lock1">

    <div class="card" id="lh1" style="width: 25rem;">
        <img class="card-img-top"  width="100%" height="80%" src="./assets/lh1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lock&handles 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="lh2" style="width: 25rem;">
            <img class="card-img-top"  width="100%" height="80%" src="./assets/lh2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lock&handles 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="lh3" style="width: 25rem;">
                <img class="card-img-top"  width="100%" height="80%" src="./assets/lh3.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lock&handles 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="lh4" style="width: 25rem;">
                    <img class="card-img-top"  width="100%" height="80%" src="./assets/lh4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Lock&handles 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>
<div id="lock2">

    <div class="card" id="lh5" style="width: 25rem;">
        <img class="card-img-top"  width="100%" height="80%"  src="./assets/lh5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lock&handles 5</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="lh6" style="width: 25rem;">
            <img class="card-img-top"  width="100%" height="80%" src="./assets/lh6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lock&handles 6</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="lh7" style="width: 25rem;">
                <img class="card-img-top"  width="100%" height="80%" src="./assets/lh7.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lock&handles 7</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="lh8" style="width: 25rem;">
                    <img class="card-img-top"  width="100%" height="80%" src="./assets/lh8.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Lock&handles 8</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>     

<div class="card" id="lh9" style="width: 25rem;">
    <img class="card-img-top"  width="100%" height="80%" src="./assets/lh9.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lock&handles 9</h5>
      <p class="card-text">For more details.</p>
      <button routerLink="/pe"
      class="btn btn-primary">Enquire now</button>
    </div>
    </div>
    <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>