#lock1{
display: flex;
}
#lock2{
    display: flex;
    }
    #lh1{
        margin: 20px;
    }
    #lh2{
        margin: 20px;
    }
    #lh3{
        margin: 20px;
    }
    #lh4{
        margin: 20px;
    }
    #lh5{
        margin: 20px;
    }
    #lh6{
        margin: 20px;
    }
    #lh7{
        margin: 20px;
    }
    #lh8{
        margin: 20px;
    }
    #lh9{
        margin: 20px;
    }
    