
    <div id="inter1">
    <div class="card" id="i1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/i1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bedroom interior1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="i2" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/i2.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bedroom interior2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="i3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/i3.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Bedroom interior3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>
   
                <div class="card" id="i4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/i4.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Bedroom interior4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
    </div>
    <div id="inter2">
                    <div class="card" id="i5" style="width: 25rem;">
                      <img class="card-img-top" width="100%" height="80%" src="./assets/i5.avif" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Bedroom interior 5</h5>
                        <p class="card-text">For more details.</p>
                        <button routerLink="/pe"
                        class="btn btn-primary">Enquire now</button>
                      </div>
                      </div>

                      <div class="card" id="i6" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/i6.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Bedroom interior 6</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>

                        <div class="card" id="i7" style="width: 25rem;">
                          <img class="card-img-top" width="100%" height="80%" src="./assets/i7.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Bedroom interior 7</h5>
                            <p class="card-text">For more details.</p>
                            <button routerLink="/pe"
                            class="btn btn-primary">Enquire now</button>
                          </div>
                          </div>

                          <div class="card" id="i8" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%" src="./assets/i8.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Bedroom interior 8</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>
                            </div>

                            <div class="card" id="i9" style="width: 25rem;">
                              <img class="card-img-top"  width="100%" height="80%"src="./assets/i9.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Bedroom interior 9</h5>
                                <p class="card-text">For more details.</p>
                                <button routerLink="/pe"
                                class="btn btn-primary">Enquire now</button>
                              </div>
                              </div>

<a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>