#inter1{
    display:flex
}
#inter2{
    display: flex;
}
#i1{
    margin: 20px;
}
#i2{
    margin: 20px;
}
#i3{
    margin: 20px;
}
#i4{
    margin: 20px;
}
#i5{
    margin: 20px;
}
#i6{
    margin: 20px;
}
#i7{
    margin: 20px;
}
#i8{
    margin: 20px;
}
#i9{
    margin: 20px;
}

