#kitchen1{
    display: flex;
}
#kitchen2{
    display: flex;
}
#k1{
    margin: 20px;
}
#k2{
    margin: 20px;
}
#k3{
    margin: 20px;
}
#k4{
    margin: 20px;
}
#k5{
    margin: 20px;
}
#k6{
    margin: 20px;
}
#k7{
    margin: 20px;
}
#k8{
    margin: 20px;
}
#k9{
    margin: 20px;
}
