#inter1{
    display: flex;
}
#inter2{
    display: flex;
}
#inter3{
    display: flex;
}
#inter4{
    display: flex;
}
#in1{
    margin: 20px;
}
#in2{
    margin: 20px;
}
#in3{
    margin: 20px;
}
#in4{
    margin: 20px;
}
#in5{
    margin: 20px;
}
#in6{
    margin: 20px;
}
#in7{
    margin: 20px;
}
#in8{
    margin: 20px;
}
#in9{
    margin: 20px;
}
#in10{
    margin: 20px;
}
#in11{
    margin: 20px;
}
#in12{
    margin: 20px;
}
#in13{
    margin: 20px;
}
#in14{
    margin: 20px;
}
#in15{
    margin: 20px;
}
