#tool1{
    display: flex;
}
#tool2{
    display: flex;
}
#t1{
    margin: 20px;
}
#t2{
    margin: 20px;
}
#t3{
    margin: 20px;
}
#t4{
    margin: 20px;
}
#t5{
    margin: 20px;
}
#t6{
    margin: 20px;
}
/* #t7{
    margin: 20px;
}
#t8{
    margin: 20px;
} */
