<div id="tool1">

    <div class="card" id="t1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/lh9.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tool 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="t2" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/t1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tool 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="t3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/t2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tool 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="t4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/t4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">LTool 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>

                    </div>
              <div id="tool2">

                <div class="card" id="t5" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/t5.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Tool 5</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>

                    <div class="card" id="t6" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/t6.webp" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Tool 6</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>

                        
              </div>      
              <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>