#light1{
    display: flex;
}
#light2{
    display: flex;
}
#light3{
    display: flex;
}
#light4{
    display: flex;
}
#lyt1{
    margin: 20px;
}
#lyt2{
    margin: 20px;
}
#lyt3{
    margin: 20px;
}
#lyt4{
    margin: 20px;
}
#lyt5{
    margin: 20px;
}
#lyt6{
    margin: 20px;
}
#lyt7{
    margin: 20px;
}
#lyt8{
    margin: 20px;
}
#lyt9{
    margin: 20px;
}
#lyt10{
    margin: 20px;
}
#lyt11{
    margin: 20px;
}
#lyt12{
    margin: 20px;
}
#lyt13{
    margin: 20px;
}
#lyt14{
    margin: 20px;
}
