#granite1{
    display: flex;
}
#granite2{
    display: flex;
}
#granite3{
    display: flex;
}
#g1{
    margin: 20px;
}
#g2{
    margin: 20px;
}
#g3{
    margin: 20px;
}
#g4{
    margin: 20px;
}
#g5{
    margin: 20px;
}
#g6{
    margin: 20px;
}
#g7{
    margin: 20px;
}
#g8{
    margin: 20px;
}
#g9{
    margin: 20px;
}
#g10{
    margin: 20px;
}
#g11{
    margin: 20px;
}

