<div id="faucet1">

    <div class="card" id="f1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%"  src="./assets/f1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Faucet 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="f2" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%"  src="./assets/f2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Faucet 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="f3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/f3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Faucet 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="f4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/f4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Faucet 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
    
</div>
<div id="faucet2">

    <div class="card" id="f5" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%"  src="./assets/f5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Faucet 5</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="f6" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%"  src="./assets/f6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Faucet 6</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="f7" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/f7.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Faucet 7</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="f8" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/f8.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Faucet 8</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
    
</div>
<div id="faucet3">

    <div class="card" id="f9" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%"  src="./assets/f9.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Faucet 9</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="f10" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%"  src="./assets/f10.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Faucet 10</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="f11" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/f11.avif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Faucet 11</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="f12" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/f12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Faucet 12</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>
<a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>