#faucet1{
    display: flex;
}

#faucet2{
    display: flex;
}
#faucet3{
    display: flex;
}
#f1{
    margin: 20px;
}
#f2{
    margin: 20px;
}
#f3{
    margin: 20px;
}
#f4{
    margin: 20px;
}
#f5{
    margin: 20px;
}
#f6{
    margin: 20px;
}
#f7{
    margin: 20px;
}
#f8{
    margin: 20px;
}
#f9{
    margin: 20px;
}
#f10{
    margin: 20px;
}
#f11{
    margin: 20px;
}
#f12{
    margin: 20px;
}

