#closet1{
    display: flex;
}
#closet2{
    display: flex;
}
#closet3{
    display: flex;
}
#c1{
    margin: 20px;
}
#c2{
    margin: 20px;
}
#c3{
    margin: 20px;
}
#c4{
    margin: 20px;
}
#c5{
    margin: 20px;
}
#c6{
    margin: 20px;
}
#c7{
    margin: 20px;
}
#c8{
    margin: 20px;
}
#c9{
    margin: 20px;
}
#c10{
    margin: 20px;
}
#c11{
    margin: 20px;
}
#c12{
    margin: 20px;
}

