
<div id="closet1">
<div class="card" id="c1" style="width: 25rem;">
    <img class="card-img-top"  width="100%" height="80%" src="./assets/c1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Closet 1</h5>
      <p class="card-text">For more details.</p>
      <button routerLink="/pe"
      class="btn btn-primary">Enquire now</button>
    </div>
    </div>

    <div class="card" id="c2" style="width: 25rem;">
        <img class="card-img-top"  width="100%" height="80%" src="./assets/c2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Closet 2</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="c3" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%"  src="./assets/c3.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Closet 3</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="c4" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/c4.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Closet 4</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

</div>
<div id="closet2">

    <div class="card" id="c5" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%"  src="./assets/c5.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Closet 5</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="c6" style="width: 25rem;">
            <img class="card-img-top"  width="100%" height="80%" src="./assets/c6.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Closet 6</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="c7" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/c7.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Closet 7</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="c8" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/c8.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Closet 8</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>

</div>

<div id="closet3">

    <div class="card" id="c9" style="width: 25rem;">
        <img class="card-img-top"  width="100%" height="80%" src="./assets/c9.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Closet 9</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="c10" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%"  src="./assets/c10.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Closet 10</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="c11" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%"  src="./assets/c11.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Closet 11</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="c12" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%"  src="./assets/c12.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Closet 12</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>
<a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>