<div id="living1">
    <div class="card" id="l1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/l1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Living Room interior 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="l2" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/l2.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Living Room interior 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="l3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/l3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Living Room interior 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="l4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/l4.webp" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Living Room interior 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>
</div>
                    <div id="living2">
                      <div class="card" id="l5" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/l5.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Living Room interior 5</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>

                        <div class="card" id="l6" style="width: 25rem;">
                          <img class="card-img-top" width="100%" height="80%" src="./assets/l6.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Living Room interior 6</h5>
                            <p class="card-text">For more details.</p>
                            <button routerLink="/pe"
                            class="btn btn-primary">Enquire now</button>
                          </div>
                          </div>

                          <div class="card" id="l7" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%" src="./assets/l7.webp" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Living Room interior4</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>

                            <div class="card" id="l8" style="width: 25rem;">
                              <img class="card-img-top" width="100%" height="80%" src="./assets/l8.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Living Room interior 7</h5>
                                <p class="card-text">For more details.</p>
                                <button routerLink="/pe"
                                class="btn btn-primary">Enquire now</button>
                              </div>
                              </div>

                    </div>
                    <div id="living3">
                      <div class="card" id="l9" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/l9.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Living Room interior 8</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>

                        <div class="card" id="l10" style="width: 25rem;">
                          <img class="card-img-top" width="100%" height="80%" src="./assets/l10.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Living Room interior 9</h5>
                            <p class="card-text">For more details.</p>
                            <button routerLink="/pe"
                            class="btn btn-primary">Enquire now</button>
                          </div>
                          </div>

                    </div>
                    <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>
