#living1{
    display: flex;
}
#living2{
    display: flex;
}
#living3{
    display: flex;
}
#l1{
    margin: 20px;
}
#l2{
    margin: 20px;
}
#l3{
    margin: 20px;
}
#l4{
    margin: 20px;
}
#l5{
    margin: 20px;
}
#l6{
    margin: 20px;
}

#l7{
    margin: 20px;
}
#l8{
    margin: 20px;
}
#l9{
    margin: 20px;
}
#l10{
    margin: 20px;
}