
    


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" id="brand" >BuildUp</a>

  <ul class="nav navbar-nav" id="home">
      
    <li class="active"><a routerLink="/hom">Home</a></li>
    
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a routerLink="/">Logout</a></li>
  </ul>
</nav>




















  
    
 
    
    

<h2>Plans & Elevations</h2>
      <div class="card" id="cc0" style="width: 25rem;">
       <img class="card-img-top" src="./assets/arch.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Plans & Elevations</h5>
         <p class="card-text">Floor plans for your home.</p>
         <a routerLink="/planenq"class="btn btn-primary">View</a>
       
       </div>
       </div>
       <!-- <a routerLink="reg" style="color: #393f81;">Register here</a></p> -->


<h2>Interiors</h2>
    <div id="cards">
      <div class="card" id="c0" style="width: 25rem;">
       <img class="card-img-top" src="./assets/bedroom1.jpg" alt="Card image cap">
       <div class="card-body">
         <!-- <h5 class="card-title">Bedroom interiors</h5> -->
         <!-- <p class="card-text">bedroom interior works for your home.</p> -->
         <a routerLink="/bedroom" class="btn btn-primary">View</a>
       </div>
     </div>
     
     <div class="card" id="c1" style="width: 25rem;">
       <img class="card-img-top" src="./assets/2.jpg" alt="Card image cap" >
       <div class="card-body">
         
         <a routerLink="/ki" class="btn btn-primary">View</a>
       </div>
     </div>
     
     
     <div class="card" id="c2" style="width: 25rem;">
       <img class="card-img-top" src="./assets/3.jpg" alt="Card image cap" >
       <div class="card-body">
         
         <a routerLink="/livi" class="btn btn-primary">View</a>
       </div>
     </div>
     
     <div class="card" id="c3" style="width: 25rem;">
       <img class="card-img-top" src="./assets/4.jpg" alt="Card image cap" >
       <div class="card-body">
         
         <a routerLink="/bath" class="btn btn-primary">View</a>
       </div>
     </div>
     </div>
     

     <h2>Home Decor</h2>
     
<div id="hd">
     <div class="card" id="decor" style="width: 25rem;">
      <img class="card-img-top" id="d1"src="./assets/decor.jpeg " alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Decor</h5>
        <a routerLink="/dec"class="btn btn-primary">View</a>
      </div>
    </div>

    <div class="card" id="light" style="width: 25rem;">
      <img class="card-img-top" id="ll1"src="./assets/lights.jpeg " alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Lightings</h5>
        <a routerLink="/lyt" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>

<h2>Sanitary Items</h2>

<div id="sanitary">
<div class="card" id="s0" style="width: 25rem;">
  <img class="card-img-top" id="ss"src="./assets/c12.jpeg" alt="Card image cap" >
  <div class="card-body">
    <h5 class="card-title">Closets</h5>
    <a routerLink="/closet" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card" id="s1" style="width: 25rem;">
  <img class="card-img-top"id="ss1" src="./assets/sink.jpeg " alt="Card image cap" >
  <div class="card-body">
    <h5 class="card-title">Sink</h5>
    <a routerLink="/sink" class="btn btn-primary">View</a>
  </div>
  </div>

  <div class="card" id="s2" style="width: 25rem;">
    <img class="card-img-top" id="ss2"src="./assets/faucet.jpeg " alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Faucets</h5>
      <a routerLink="/faucet" class="btn btn-primary">View</a>
    </div>
    </div>
  </div>
<h2>Hardware Items</h2>

<div id="Hardware">

  <div class="card1" id='hh1'style="width: 25rem;">
   <img class="card-img-top"  id="h1" src="./assets/door&handle.webp" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Lock & handles</h5>
     <a routerLink="/lh" class="btn btn-primary">View</a>
   </div>
 </div>

 <div class="card2" id='hh2' style="width: 25rem;">
  <img class="card-img-top" id="h2" src="./assets/tls.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tools</h5>
    <a routerLink="/tools" class="btn btn-primary">View</a>
  </div>
</div>

</div>

<h2>Floor Designs</h2>

<div id="floord">

<div class="card2" id="tile" style="width: 25rem;">
  <img class="card-img-top" id="t1" src="./assets/tiles.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tiles</h5>
    <a routerLink='/tile'class="btn btn-primary">View</a>
  </div>
  </div>


<div class="card2" id="marble"  style="width: 25rem;">
  <img class="card-img-top" id="m1" src="./assets/marble.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Marble</h5>
    <a routerLink="/marble" class="btn btn-primary">View</a>
  </div>
</div> 

<div class="card2" id="granite"  style="width: 25rem;">
  <img class="card-img-top" id="g1" src="./assets/granite.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Granite</h5>
    <a routerLink="/granite" class="btn btn-primary">View</a>
  </div>
</div> 
</div>


<h2>interlocks & Aggregate </h2>
<div id="ia">
<div class="card2" id="interlock"  style="width: 25rem;">
  <img class="card-img-top" id="i1" src="./assets/interlock.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Interlock</h5>
    <a routerLink="/inter"class="btn btn-primary">View</a>
  </div>
</div> 

<div class="card2" id="aggregate"  style="width: 25rem;">
  <img class="card-img-top" id="a1" src="./assets/aggregate.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Aggregate</h5>
    <a routerLink="/aggregate" class="btn btn-primary">View</a>
  </div>
</div> 
</div>



<h2>Gardening</h2>

<div class="card2" id="garden"  style="width: 25rem;">
  <img class="card-img-top" id="g1" src="./assets/garden.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Gardening</h5>
    <a routerLink="/garden" class="btn btn-primary">View</a>
  </div>
</div> 
     
<!-- <footer>
  
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</footer> -->



 
    
<i class="fa fa-copyright" aria-hidden="true">copyright &copy;Buildup</i>
  


    
 

