#marble1{
    display: flex;
}
#marble2{
    display: flex;
}
#marble3{
    display: flex;
}
#m1{
    margin: 20px;
}
#m2{
    margin: 20px;
}
#m3{
    margin: 20px;
}
#m4{
    margin: 20px;
}
#m5{
    margin: 20px;
}
#m6{
    margin: 20px;
}
#m8{
    margin: 20px;
}
#m9{
    margin: 20px;
}
#m10{
    margin: 20px;
}
#m11{
    margin: 20px;
}
#m7{
    margin: 20px;
}
