<div id="marble1">

    <div class="card" id="m1" style="width: 25rem;">
        <img class="card-img-top" width="100%" height="80%" src="./assets/m1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Marble 1</h5>
          <p class="card-text">For more details.</p>
          <button routerLink="/pe"
          class="btn btn-primary">Enquire now</button>
        </div>
        </div>

        <div class="card" id="m2" style="width: 25rem;">
            <img class="card-img-top" width="100%" height="80%" src="./assets/m2.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Marble 2</h5>
              <p class="card-text">For more details.</p>
              <button routerLink="/pe"
              class="btn btn-primary">Enquire now</button>
            </div>
            </div>

            <div class="card" id="m3" style="width: 25rem;">
                <img class="card-img-top" width="100%" height="80%" src="./assets/m3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Marble 3</h5>
                  <p class="card-text">For more details.</p>
                  <button routerLink="/pe"
                  class="btn btn-primary">Enquire now</button>
                </div>
                </div>

                <div class="card" id="m4" style="width: 25rem;">
                    <img class="card-img-top" width="100%" height="80%" src="./assets/m4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Marble 4</h5>
                      <p class="card-text">For more details.</p>
                      <button routerLink="/pe"
                      class="btn btn-primary">Enquire now</button>
                    </div>
                    </div>

                    </div>
<div id="marble2">
                    <div class="card" id="m5" style="width: 25rem;">
                        <img class="card-img-top" width="100%" height="80%" src="./assets/m5.webp" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Marble 5</h5>
                          <p class="card-text">For more details.</p>
                          <button routerLink="/pe"
                          class="btn btn-primary">Enquire now</button>
                        </div>
                        </div>

                        <div class="card" id="m6" style="width: 25rem;">
                            <img class="card-img-top" width="100%" height="80%" src="./assets/m6.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Marble 6</h5>
                              <p class="card-text">For more details.</p>
                              <button routerLink="/pe"
                              class="btn btn-primary">Enquire now</button>
                            </div>
                            </div>

                            <div class="card" id="m7" style="width: 25rem;">
                                <img class="card-img-top" width="100%" height="80%" src="./assets/m7.webp" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Marble 7</h5>
                                  <p class="card-text">For more details.</p>
                                  <button routerLink="/pe"
                                  class="btn btn-primary">Enquire now</button>
                                </div>
                                </div>

                                <div class="card" id="m8" style="width: 25rem;">
                                    <img class="card-img-top" width="100%" height="80%" src="./assets/m8.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Marble 8</h5>
                                      <p class="card-text">For more details.</p>
                                      <button routerLink="/pe"
                                      class="btn btn-primary">Enquire now</button>
                                    </div>
                                    </div>

                                </div>
         <div id="marble3">
                                    <div class="card" id="m9" style="width: 25rem;">
                                        <img class="card-img-top" width="100%" height="80%" src="./assets/m9.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">Marble 9</h5>
                                          <p class="card-text">For more details.</p>
                                          <button routerLink="/pe"
                                          class="btn btn-primary">Enquire now</button>
                                        </div>
                                        </div>

                                        <div class="card" id="m10" style="width: 25rem;">
                                            <img class="card-img-top" width="100%" height="80%" src="./assets/m10.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">Marble 10</h5>
                                              <p class="card-text">For more details.</p>
                                              <button routerLink="/pe"
                                              class="btn btn-primary">Enquire now</button>
                                            </div>
                                            </div>

                                            <div class="card" id="m11" style="width: 25rem;">
                                                <img class="card-img-top" width="100%" height="80%" src="./assets/m11.webp" alt="Card image cap">
                                                <div class="card-body">
                                                  <h5 class="card-title">Marble 11</h5>
                                                  <p class="card-text">For more details.</p>
                                                  <button routerLink="/pe"
                                                  class="btn btn-primary">Enquire now</button>
                                                </div>
                                                </div>

                                </div>
                                <a routerLink="/hom"class="btn btn-primary" id="btn">Go Back to Home</a>